body{
  background:#ccc;
  color:#222;
}

.container{
margin:auto;
margin-bottom:1rem;
border: 1px solid #aaa;
}

#input, #output, #server{
  border: 1px solid #888;
  width:60%;
  height:2rem;
  background:inherit;
}
