body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.content-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.controls {
    margin-bottom: 20px;
}

.maze-container {
    width: 60vh;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maze-grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(32, 1fr); /* 32 columns */
    grid-template-rows: repeat(32, 1fr); /* 32 rows */
}

.maze-cell {
    border: 0.5px solid #777;
    box-sizing: border-box;
}
