:root {
    --row-height: 10vh;
    --margin-width: 10vh;
}

.active {
    color: var(--primary); /* Primary color for text */
    border: 2px solid var(--primary); /* Solid border with primary color */
    padding: var(--nav-link-spacing-vertical) var(--nav-link-spacing-horizontal); /* Padding for better visual */
    border-radius: var(--border-radius); /* Rounded corners */
    text-decoration: none; /* Removes underline */
    background-color: transparent; /* Transparent background */
}

.outputComponent {
    color: var(--primary); /* Primary color for text */
    border: 0px solid var(--secondary); /* Solid border with primary color */
}
.settingsComponent {
    color: var(--primary); /* Primary color for text */
    border: 0px solid var(--secondary); /* Solid border with primary color */
    padding: 0 20% 0 20%;
}

#footer {
    padding: 0 0 1rem 0; /* Added padding at the bottom */
    font-size:small;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Set the viewport to device width and disable user scaling */

/* CSS */
body {
    /* Set the body to full height and width */
    height: 100vh;
    width: 100vw;
    /* Remove margins and padding */
    margin: 0;
    padding: 0;
    /* Prevent overflow */
    overflow: hidden;
}

.outputComponent article {
    min-height: 40vh;
    max-height: 40vh;
    overflow: auto;
    padding:.5rem 1rem .5rem 1rem;
    margin:0vh var(--margin-width) 0vh var(--margin-width);
}
@media (max-width: 600px) {
    .outputComponent article {
        margin: 0;
    }
}

nav{
    height:10vh;
}
