#maze-container {
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(32, 1fr);
}
.cell {
    border: 1px solid lightgray;
    width: 20px;
    height: 20px;
}

.gray-1 { background-color: #eeeeee; } /* Lightest gray */
.gray-2 { background-color: #cccccc; }
.gray-3 { background-color: #aaaaaa; }
.gray-4 { background-color: #888888; }
.gray-5 { background-color: #666666; } /* Darkest gray */



.wall {
    border-color: black;
}
.path {
    border-color: transparent;
}

.entry-top { border-top-color: blue; }
.entry-bottom { border-bottom-color: blue; }
.entry-left { border-left-color: blue; }
.entry-right { border-right-color: blue; }
.exit-top { border-top-color: red; }
.exit-bottom { border-bottom-color: red; }
.exit-left { border-left-color: red; }
.exit-right { border-right-color: red; }
